@import "minireset.css";
/*külső forrás importálása css fileba*/
/*betűkészletek betöltése a google fonts-ról*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext');

body {
    background: #f5f5f5;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    padding-top: 65px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #222;
    text-align: center;
}

h1 {
    font-size: 36px;
}

/*h1:after {
    display:block;
    content:'';
    width:150px;
    margin:15px auto;
    height:3px;
    background-color:red;
}*/
hr {
    width: 150px;
    margin: 15px auto;
    height: 3px;
    color: #999;
    background-color: #999;
}

@media screen and (min-width: 1200px) {
    .container {
        /*background: khaki;*/
        width: 1200px;
        margin: 0 auto;
    }
}

/*navigáció*/
nav.main {
    width: 100%;
    height: 45px;
    /*optikai elválasztása a menü sávnak*/
    border-bottom: 1px solid #666;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.65);
    background-color: #fff;
    /*stick*/
    position: fixed;
    z-index:5000;
    top: 0;
}

nav.main ul {
    display: flex;
    justify-content: space-between;
}

nav.main a {
    color: #666;
    text-decoration: none;
    display: inline-block;
    margin-top: 11px
}

.brand-logo {
    width: 65px;
    height: 65px;
    margin-top: -11px;
}

/*welcome*/
.displays {
    float: none;
    overflow: hidden;
}

.displays div {
    width: 50%;
    float: left;
    text-align: center;
}

.displays div img {
    max-width: 300px;
    padding-top: 50px;
}

.displays div:nth-child(3) {
    margin-left: -75%;
}

.displays div:nth-child(3) img {
    max-width: 450px;
    padding-top: 0;
}

#we-are {
    background: #fff;
}

/*skills*/
ul.skills {
    color: #999;
    column-count: 2;
    float: none;
    overflow: hidden;
}

/*szürke háttérdoboz*/
ul.skills li {
    background: #ddd;
    margin: 10px;
    border-radius: 3px;
}

/*sáv*/
ul.skills li div {
    background: #222;
    padding: 5px;
    width: 50%;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

/*team*/
ul.team-container {
    margin-top:60px;
    display: flex;
    justify-content: space-around;
}
.team-member {
    width: 260px;
    height: 330px;
    overflow: hidden;
    border-radius: 3px;
}

.team-member img {
    border-radius: 3px;
}

.member-description {
    border-radius: 3px;
    height: 260px;
    width: 260px;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    position: relative;
    /*transition: all .3s ease-in-out;*/
}

.team-member:hover .member-description {
    background: rgba(255, 255, 255, 1);
    margin-top: -265px;

}

.member-description h3, .member-description cite {
    display: block;
    height: 35px;
}

.member-description h3 {
    line-height: 2em;
    color: #222;
}

ul.socials-icons {
    display: flex;
    justify-content: center;
}
.fa[class*="-rounded"]:before {
    display:block;
    width:1.5em;
    height:1.5em;
    line-height: 1em;
    border-radius:50%;
    border:1px solid #999;
    padding:6px;
}
ul.socials-icons a{
     text-decoration: none;
     color:#999;
     font-size:1.5em;
     margin:5px;
 }
ul.socials-icons a:hover{
    color:#333;
}
ul.socials-icons a:hover:before{
    border-color: #333;
}


